<head>
    <link rel="stylesheet" href="src/styles/Carousel.css">
</head>
<body>
    <div class="crsl_widget">
        <div class="crsl_container">
            <div class="crsl_bg_container"></div> 
            <div class="crsl_image_wrapper"></div>
        </div>
        <div class="crsl_navigation crsl_navi_prev crsl_disabled">
            <div class="crsl_icon"></div>
        </div>
        <div class="crsl_navigation crsl_navi_next">
            <div class="crsl_icon"></div>
        </div>
    </div>
</body>

